/*=========================  Шрифты  ================================================*/
@font-face {
  font-family: 'balqis';
  src: url('../fonts/balqis.woff2') format('woff2'), url('../fonts/balqis.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'), url('../fonts/RobotoCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RobotoCondensed-LightItalic';
  src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'), url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'), url('../fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*=========================  Базовые настройки  ================================================*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  color: #000;
  font-family: 'RobotoCondensed-Light';
  font-size: 18px;
  line-height: 21px;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.page-section {
  margin: 200px 0;
}
.title {
  font-size: 96px;
  line-height: 128px;
  margin-bottom: 100px;
  color: #E2AB3F;
  font-family: 'balqis';
  font-weight: 300;
}
.title span {
  display: block;
  margin-top: -30px;
  margin-left: 185px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-family: 'RobotoCondensed-LightItalic';
}
/*========================= Header   ================================================*/
.header {
  background-image: url('../images/header-bg.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 72px;
  font-size: 24px;
  font-family: 'RobotoCondensed-Regular';
  line-height: 28px;
}
.header__top .menu__list-item {
  display: inline-block;
}
.header__top .menu__list-item .menu__list-link:hover {
  text-decoration: underline;
}
.header__top .menu__list-item + .menu__list-item {
  margin-left: 52px;
}
.header__top .header__phone {
  position: relative;
  padding-left: 40px;
}
.header__top .header__phone::before {
  position: absolute;
  left: 0;
  content: "";
  background-image: url('../images/phone-icon.svg');
  width: 30px;
  height: 30px;
}
.header__title {
  padding-top: 120px;
  text-align: center;
  font-size: 250px;
  line-height: 334px;
  font-family: 'balqis';
  font-weight: 300;
}
.header__title span {
  display: block;
  margin-top: -66px;
  margin-right: 85px;
  text-align: right;
  font-size: 56px;
  line-height: 66px;
  font-family: 'RobotoCondensed-LightItalic';
}
/*========================= fairy tail  ================================================*/
/*=========================   ================================================*/
/*=========================   ================================================*/
